.FlashBin {
  text-align: center;
  flex-direction: row;
}

.Card {
    align-self: center;
    background-color: #f4f7fc;
    border: 5px solid #428bca;
    border-radius: 50px;
    margin: 5px;
    width: 33vw;
    flex-direction: row;

}

.Card h1 {
    font-size: 12vh;
}

.Card p {
    font-size: 4vh;
}

.Card p.hidden {
    color: #f4f7fc;
    user-select: none;
}

.Card p.visible {
    color: gray;
}
